@use "../../styles/mixins" as *;

.hero-section {
  position: relative;
  margin-top: 8rem;
  @include flex();
  &__content {
    max-width: 60%;
    @include flex(null, flex-start, $di: column, $gap: 3rem);
    h1 {
      font-weight: 700;
      font-size: 5rem;
      color: #212353;
    }
    p {
      color: #4b5d68;
      font-weight: 500;
      font-size: 1.125rem;
      max-width: 370px;
    }
    button {
      padding: 1rem 2rem;
    }
  }
  &__img {
    position: absolute;
    top: 100px;
    right: 0;
  }
}

@media (width <= 1130px) {
  .hero-section {
    flex-direction: column;

    &__content {
      h1 {
        font-size: 3rem;
      }
      gap: 1rem;
      max-width: none;
      p {
        max-width: none;
      }
    }
    &__img {
      flex: 1;
      position: static;
      order: -1;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
