@use "../../styles/tools" as style;

.hero-section {
  padding-top: 10vh;
  display: flex;
  > * {
    flex: 1;
  }
  &__content {
    @include style.flex($direction: column, $jc: center);
    h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 56px;
      color: style.$heading-color;
    }
    p {
      color: color-mix(in srgb, style.$default-color, transparent 30%);
      margin: 5px 0 30px 0;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }
  &__btn-wrap {
    @include style.flex($gap: 1rem);
    button {
      color: style.$contrast-color;
      background: style.$accent-color;
      font-size: 1rem;
      padding: 10px 28px 12px 28px;
      border-radius: 50px;
      transition: 0.5s;
      box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
      border: none;
      &:hover {
        background: color-mix(in srgb, style.$accent-color, transparent 15%);
      }
    }
  }
  &__watch-video {
    transition: 0.5s;
    &:hover {
      color: style.$accent-color;
    }
    @include style.flex($al: center);
    i {
      color: style.$accent-color;
      font-size: 2rem;
      margin-right: 0.5rem;
    }
    span {
      font-size: 1rem;
      color: style.$default-color;
      font-weight: 600;
    }
  }
  &__img {
    img {
      animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
    @keyframes up-down {
      0% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }
}
// reponsive
@media (width <= 850px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &__img {
      order: -1;
    }
  }
}
@media (width <= 700px) {
  .hero-section {
    &__content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}