@use "../../styles/tools" as style;

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__title {
    grid-column: span 2;
  }

  &__video {
    justify-items: center;
    align-items: center;
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
    img {
      z-index: 2;
      pointer-events: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 997;
    }
    .playing {
      z-index: 9999;
      pointer-events: auto;
    }
  }

  &__circle {
    z-index: 998;
    cursor: pointer;
    border: none;
    outline: none;
    width: 94px;
    height: 94px;
    background: radial-gradient(
      var(--accent-color) 50%,
      color-mix(in srgb, var(--accent-color), transparent 75%) 52%
    );
    @include style.flex($jc: center, $al: center);
    border-radius: 50%;
    i {
      margin-left: 2px;
    }
    &:hover {
      transform: scale(1.1);
    }
    font-size: 2rem;
    color: var(--contrast-color); // Changed
    &::before {
      content: "";
      position: absolute;
      width: 94px;
      height: 94px;
      animation: pulsate-play-btn 2s infinite;
      border-radius: 50%;
      border: 5px solid color-mix(in srgb, var(--accent-color), transparent 30%); // Changed
      background: #c6100000;
    }
    @keyframes pulsate-play-btn {
      0% {
        transform: scale(0.6);
        opacity: 1;
      }
      100% {
        transform: scale(1);
        opacity: 0;
      }
    }
  }

  &__content {
    @include style.flex($direction: column, $gap: 0.5rem);
    color: var(--default-color); // Changed
    margin-left: 2rem;
    h2 {
      font-size: 1.75rem;
    }
    p:nth-child(2) {
      font-style: italic;
    }
  }
  &__check-item {
    display: flex;
    h2 {
      color: var(--heading-color); // Changed
    }
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    i {
      color: var(--accent-color); // Changed
    }
  }

  &__datas {
    padding: 5vh 0;
    display: flex;
    grid-column: span 2;
    flex-wrap: wrap;
  }
  &__data {
    padding: 30px;
    text-align: center;
    h1 {
      margin-bottom: 1rem;
      font-size: 2.5rem;
      color: var(--accent-color); 
    }
    p {
      color: color-mix(
        in srgb,
        var(--default-color),
        transparent 40%
      ); 
    }
    flex: 1;
  }
}

// reposive

@media (width <= 991px) {
  .about-us {
    grid-template-columns: 1fr;
    &__title,
    &__datas {
      grid-column: span 1 !important;
    }
    &__data {
      flex: 1 1 50%;
      padding: 1rem;
    }
  }
}
@media (width <= 576px) {
  .about-us {
    &__content {
      h2 {
        font-size: 1.25rem;
      }
    }
    &__circle {
      width: 70px;
      height: 70px;
      &::before {
        width: 70px;
        height: 70px;
      }
      font-size: 1.5rem;
    }
  }
}
@media (width <= 450px) {
  .about-us {
    &__data {
      flex: 1 1 100%;
    }
  }
}
