*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: "Poppins", "Arial", sans-serif;
  padding: 0 10vw;
}
input,
textarea,
button {
  font: inherit;
}
img {
  max-width: 200px;
  aspect-ratio: 1;
  object-fit: cover;
}