*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: "Poppins", "Arial", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}
input,
textarea,
button {
  font: inherit;
}
