@mixin flex($jc: null, $al: null, $gap: null, $di: null) {
  display: flex;

  @if $di != null {
    flex-direction: $di;
  }

  @if $jc != null {
    justify-content: $jc;
  }

  @if $al != null {
    align-items: $al;
  }

  @if $gap !=null {
    gap: $gap;
  }
}
