$nav-color: #5f687b;
$nav-hover-color: #10bc69;
$nav-mobile-background-color: #ffffff;
$nav-dropdown-background-color: #ffffff;
$nav-dropdown-color: #5f687b;
$nav-dropdown-hover-color: #10bc69;
$background-color: #ffffff;
$default-color: #444444;
$heading-color: #5f687b;
$accent-color: #10bc69;
$surface-color: #ffffff;
$contrast-color: #ffffff;