@use "../../styles/mixins" as *;

.header {
    font-family: "Inter", sans-serif;
    margin-top: 3rem;
    @include flex(space-between,center);
    &__right {
        @include flex($gap:2rem);
    }
}
@media (width <=676px) {
    .header {
        &__right {
            button {
                padding-inline:3rem ;
            }
        }
    }
}