@use "../../styles/tools" as t;

.footer {
  display: flex;
  padding-block: 5vh;
  gap: 1rem;
  font-size: 0.825rem;
  &__contact-details {
    flex: 2;
    @include t.flex(column, $gap: 1rem);
    > h1 {
      color: t.$heading-color;
      font-size: 1.5rem;
      font-weight: 600;
    }
    width: 33%;
  }
  &__address {
    p {
      &:nth-child(1) {
        margin-bottom: 0.5rem;
      }
    }
  }
  &__contact {
    @include t.flex(column, $gap: 0.5rem);
  }
  &__useful-links,
  &__services {
    flex: 1;
    h4 {
      margin-bottom: 1.25rem;
      font-size: 1.125rem;
    }
    ul {
      @include t.flex(column, $gap: 1rem);
      i {
        font-size: 0.75rem;
        color: t.$accent-color;
      }
      li {
        transition: all 0.25s;
        display: flex;
      }
      li:hover {
        color: t.$accent-color;
      }
    }
  }
  &__follow-us {
    flex: 2;
    h4 {
      margin-bottom: 1.25rem;
      font-size: 1.125rem;
    }
  }
  &__social-icons {
    margin-top: 1rem;
    @include t.flex($gap: 0.625rem);
    a {
      @include t.flex($jc: center, $al: center);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid color-mix(in srgb, t.$default-color, transparent 50%);
      color: color-mix(in srgb, t.$default-color, transparent 20%);
      transition: 0.3s;
    }
    a:hover {
      border: 1px solid t.$accent-color;
      color: t.$accent-color;
    }
  }
}
.copyright {
  border-top: 1px solid color-mix(in srgb, t.$default-color, transparent 90%);
  padding-block: 5vh;
  text-align: center;
  p {
    font-size: 0.875rem;
  }
}

// reponsive 
@media (width < 992px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer > * {
    flex: 1 1 30%;
  }
}
@media (width <= 768px) {
  .footer {
    padding-inline: 10vw;
  }
  .footer > * {
    flex: 1 1 100%;
  }
}